:root {
  --max-chatbox-width: 60em;
  --border-radius: 6px;
}


html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

body {
  background-color: #FFF8F0;
}

.fredoka-400-normal {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.lora-400-normal {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chatbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-chatbox-width);
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.chat-container {
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none;
}

.prompt-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.prompt-input {
  height: 100%;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  resize: none;
  font-size: 1.01rem;
  color: #4B2E2E;
  background-color: #FDF4E3;
  border-radius: var(--border-radius);
  border-color: black;
}

.prompt-form-buttons {
  margin-top: 1rem;
}

.button {
  font-size: 1.01rem;
  color: #F0EDE5;
  background-color: #8A9773;
  border: none;
  border-radius: var(--border-radius);
}

.button__primary {
  color: #F9F7F3;
  background-color: #E07A5F;
}

.button__think-clsp-but {
  justify-self: end;
  align-self: center;
  background-color: #3B6E4D;
  color: #D0D0D0;
  border: solid;
}

.chat {
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  line-height: 2.0;
}

.chat__user {
  color: #D9774B;
}

.chat__llm {
  border-style: solid;
  padding: 0.5rem;
  color: #FDF4E3;
  background-color: #4B2E2E;
  border-color: #3E2626;
}

.chat--thinking {
  color: #D0D0D0;
  background-color: #2F5B44;
  border-color: #2F5C40;
}

.bar__thinking-chat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.0;
}

.msg {
  font-style: italic;
}
