<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chatting with the greatest LLMs of all time">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fredoka&family=Lora&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">
    <title>ChatBox</title>
  </head>

  <body>
    <div class="chatbox-container">
      <div id="chat-container" class="chat-container"></div>
      <div class="prompt-form-container">
        <textarea id="prompt-input" class="prompt-input fredoka-400-normal" placeholder="Enter your prompt here (press Ctrl+Enter to submit)"></textarea>
	<div class="prompt-form-buttons">
          <input type="button" id="submit-chat-button" class="button button__primary fredoka-400-normal" value="Submit">
          <input type="button" id="cancel-chat-button" class="button fredoka-400-normal" value="Cancel" hidden="true">
          <input type="button" id="clear-chat-button" class="button fredoka-400-normal" value="Clear">
	</div>
      </div>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script defer src="{{ url_for('static', path='/dist/purify.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/index.js') }}"></script>
  </body>
</html>
